@font-face {
    font-family: 'PlayfairDisplay';
    src: 
        url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'PlayfairDisplay';
    src: 
        url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: 
        url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    src: 
        url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
}

body {
    font-family: 'Montserrat', sans-serif, Arial;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 10rem;
    background-color: #ddeef7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PlayfairDisplay', Georgia, 'Times New Roman';
}

p {
    font-size: 1.5rem;
}

a {
    color: #1099de;
}

::selection { 
    background: #cce2ed; 
}

::-moz-selection { 
    background: #cce2ed; 
}

.js-main {
    min-height: 100vh;
    background-color: #fff;
    box-shadow: 0px 0px 40px -16px rgba(0,0,0,0.25);
}

.js-hero-text {
    font-size: 8rem;
    margin-bottom: 1rem;
}
.js-subhero-text {
    font-size: 3rem;
    margin-bottom: 4rem;
}

.js-timeline {
    margin-bottom: 3rem;
    margin-top: 5rem;
}
.js-timeline:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #ccc;
    border-radius: 50px;
    margin-top: -2rem;
    margin-left: -.5rem;
}
.js-timeline:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    top: 0;
    margin-top: -1.5rem;
    margin-left: -50%;
}
.js-timeline-heading {
    font-family: 'Montserrat', sans-serif, Arial;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.25rem;
}
.js-timeline-text {
    font-size: 1.5rem;
}


/*-----------------------------------------------*/
/* Mobile responsive */

@media screen and (max-width: 992px) {
    body {
        padding: 0 4rem;
    }
}

@media screen and (max-width: 768px) {
    body {
        padding: 0 2.5rem;
    }

    p {
        font-size: 1rem;
    }

    .js-main {
        min-height: calc(100vh - 5rem);
    }

    .js-hero-text {
        font-size: 2.5rem;
    }
    .js-subhero-text {
        font-size: 1.5rem;
    }
    
    .js-timeline {
        margin-top: 2.5rem;
    }
    .js-timeline-heading {
        font-size: 1rem;
    }
    .js-timeline-text {
        font-size: 1rem;
    }
    
}


/*-----------------------------------------------*/
/* Smooth transitions */

.js-hero-text,
.js-subhero-text {
	visibility: hidden;
}

.js-slide-down {
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;
}

@keyframes slideDown {
	0% {
		transform: translateY(70%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(70%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}
